<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>验证邮箱</title>

    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="css/personal.css" rel="stylesheet" type="text/css">
    <link href="css/stepstyle.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.js"></script>

    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/validate.js"></script>
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>
    <!-- 引入layui -->
    <script src="http://www.greenmall.com/layui/layui.js"></script>
    <link href="http://www.greenmall.com/layui/css/layui.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .gmErrorInfo {
            color: red;
            font-size: 12px;
            /*margin-left: 10px;*/
        }
    </style>

</head>
<body style="background-color: white">
<div id="emailApp">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">绑定邮箱</strong> / <small>Email</small></div>
    </div>
    <hr/>
    <!--进度条-->
    <div class="m-progress" style="text-align: center">
        <p v-if="gm.isStringNotEmpty(oldEmail)" style="color: red;font-size: 26px;"> 换绑邮箱 </p>
        <p v-else style="color: red;font-size: 26px;"> 绑定邮箱 </p>
    </div>
    <form class="am-form am-form-horizontal">
        <div class="am-form-group">
            <label for="user-email" class="am-form-label">验证邮箱</label>
            <div class="am-form-content">
                <!-- 邮箱地址输入框 -->
                <input type="text" id="user-email" placeholder="请输入邮箱地址"
                       name="email"
                       v-model="curUser.email"
                       v-validate="{required:true,regex:/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/,useful:3}"
                       data-vv-as="邮箱地址">
                <!-- 错误提示 -->
                <span class="gmErrorInfo">{{ errors.first('email') }}</span>
            </div>
        </div>
        <div class="am-form-group code">
            <label for="user-code" class="am-form-label">验证码</label>
            <div class="am-form-content">
                <!-- 验证码输入框 -->
                <input style="width: 270px;" type="text" id="user-code" placeholder="邮箱验证码"
                       name="code"
                       v-model="curUser.code"
                       v-validate="'required'"
                       data-vv-as="验证码">
                <!-- 错误提示 -->
                <span class="gmErrorInfo">{{ errors.first('code') }}</span>
            </div>

            <a class="btn" @click="createVerifyCode" id="sendMobileCode">
                <div style="width: 220px;" class="am-btn am-btn-danger">{{verifyCodeTip}}</div>
            </a>
        </div>
        <div class="info-btn">
            <div @click="bindEmail" class="am-btn am-btn-danger">保存修改</div>
        </div>

    </form>

</div>

</body>

<script>

    /* 数据验证 */
    Vue.use(VeeValidate, {
        events: 'blur',
        dictionary: {
            zh: {
                messages: {
                    required: (field) => field + '不能为空！',
                    min: (field, args) => field + '长度不能小于' + args[0],
                    max: (field, args) => field + '长度不能大于' + args[0],
                    alpha_dash: (field) => field + '只能包含数字、字母或下划线',
                    regex: (field) => field + "格式不正确",
                    is: () => "两次密码不一致"
                }
            }
        },
        locale: 'zh'
    });

    var vm = new Vue({
        el: "#emailApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            curUser: {
                id: -1,
                code: "",
                email: ""
            },
            oldEmail: "",
            sendVerifyFlag: true, // 验证码发送 flag
            verifyCodeTip: "获取验证码" // 验证码获取按钮标识
        },
        created() {
            // 1，登录验证
            this.loadUserData();
            /* 邮箱是否重复验证 */
            this.$validator.extend('useful', {
                getMessage(field, args, data) {
                    return args[0] === '1' ? '用户名' + data : '邮箱' + data;
                },
                validate(value, args) {
                    return new Promise(resolve => {
                        gm.http.get("/user/check/" + value + "/" + args[0])
                            .then(resp => {
                                resolve({
                                    valid: resp.data,
                                    data: "已存在!"
                                })
                            })
                    });
                }
            })
        }
        ,
        watch: {}
        ,
        computed: {}
        ,
        methods: {
            /* 加载用户信息 */
            loadUserData() {
                var isLogin = 0;
                // 1，登录验证
                gm.verifyUser().then(() => {
                    isLogin = 1;
                    // 2，加载用户信息数据
                    gm.http.get("/user/auth/queryUser/")
                        .then(resp => {
                            var data = resp.data;
                            if (resp.status === 200) {
                                // 初始化 curUser
                                this.curUser.id = data.id;
                                this.oldEmail = data.email;
                            } else if (resp.status === 404) {
                                // alert("收藏夹空空如也!")
                            } else {
                                alert("加载用户信息失败!")
                            }
                        })
                        .catch(() => {
                            alert("加载用户信息失败!")
                        })
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.top.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("加载用户信息异常...")
                    }
                })
            },
            /* 生成邮箱验证码 */
            createVerifyCode() {
                this.$validator.validate("email").then(r => {
                    // 频繁获取验证码验证
                    if (this.sendVerifyFlag == false) {
                        alert("请勿频繁获取验证码!");
                        return;
                    }
                    if (r) {
                        gm.http.post("/user/mailCode", "email=" + this.curUser.email).then(resp => {
                            var data = resp.data;
                            if (resp.status === 200) {
                                this.checkVerifyFlag(5 * 60);
                            }
                        })
                    }
                });
            },
            /* 绑定邮箱 */
            bindEmail() {
                this.$validator.validateAll().then(d => {

                    if (d) {
                        // 校验通过，提交表单
                        gm.http.post("/user/auth/bindEmail", gm.stringify(this.curUser))
                            .then(resp => {
                                var data = resp.data;
                                if (resp.status === 200) {
                                    if (data.state == 1) {
                                        alert("绑定邮箱成功...");
                                        window.top.location.href = "http://www.greenmall.com/personalcenter.html?open=fsafety";
                                    } else if (data.state == 2) {
                                        alert("验证码不正确!");
                                    } else {
                                        alert("绑定邮箱失败!");
                                    }
                                }
                            })
                            .catch(() => alert("绑定邮箱失败！"))
                    }
                });

            },
            /* 检查刷新验证码发送标识 */
            checkVerifyFlag(secondVal) {
                alert("验证码发送成功!");
                // 1，修改发送标识为：false
                this.sendVerifyFlag = false;
                // 2，60 秒后将标识修改成 true
                let count = 0;
                let tempThis = this;
                let timer = setInterval(function () {
                    count++;
                    tempThis.verifyCodeTip = (secondVal - count) + "秒后再次获取";
                    if (count >= secondVal) {
                        tempThis.sendVerifyFlag = true;
                        tempThis.verifyCodeTip = "获取验证码";
                        window.clearInterval(timer);
                    }
                }, 1000);
            }
        }
    })
</script>

</html>