<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>退换货管理</title>

    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="css/personal.css" rel="stylesheet" type="text/css">
    <link href="css/orstyle.css" rel="stylesheet" type="text/css">

    <script src="AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.js"></script>

    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/math.js"></script>
    <script src="http://www.greenmall.com/js/validate.js"></script>
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>
    <!-- 引入layui -->
    <script src="http://www.greenmall.com/layui/layui.js"></script>
    <link href="http://www.greenmall.com/layui/css/layui.css" rel="stylesheet" type="text/css">

</head>

<body style="background-color: white">

<!-- ———————————————————————————————————————— 保留 ———————————————————————————————————————— -->
<div class="user-order" id="refundInfoApp">

    <!--标题 -->
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">退换货管理</strong> / <small>Change</small></div>
    </div>
    <hr/>

    <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

        <ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">退款管理</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <div class="order-top">
                    <div class="th th-item" style="width: 30%">
                        <td class="td-inner">商品</td>
                    </div>
                    <div class="th th-orderprice th-price" style="width: 20%">
                        <td class="td-inner">交易金额</td>
                    </div>
                    <div class="th th-changeprice th-price" style="width: 20%">
                        <td class="td-inner">退款金额</td>
                    </div>
                    <div class="th th-status th-moneystatus">
                        <td class="td-inner">交易状态</td>
                    </div>

                </div>
                <div v-if="gm.isCollectionNotEmpty(userRefundData)" class="order-main">
                    <div class="order-list" v-for="(item,index) in userRefundData" :key="'refund'+index">
                        <div class="order-title">
                            <div class="dd-num">退款编号：<a href="javascript:;">{{item.id}}</a></div>
                            <span>申请时间：{{gm.renderTime(item.createTime)}}</span>
                        </div>
                        <div class="order-content">
                            <div class="order-left">
                                <ul class="item-list">
                                    <li class="td td-item" style="width: 30%">
                                        <div class="item-pic">
                                            <a target="_blank"
                                               :href="'http://www.greenmall.com/goods/introduction/'+item.goodsId+'.html'"
                                               class="J_MakePoint">
                                                <img style="width: 80px;height: 80px;"
                                                     :src="item.goodsImage" class="itempic J_ItemImg">
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-basic-info">
                                                <a href="#">
                                                    <p>{{item.goodsTitle}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                    <ul class="td-changeorder" style="width: 40%">
                                        <li class="td td-orderprice">
                                            <div class="item-orderprice">
                                                <span>交易金额：</span>{{item.unitPrice}}&nbsp;x&nbsp;{{item.num}}
                                            </div>
                                        </li>
                                        <li class="td td-changeprice">
                                            <div class="item-changeprice">
                                                <span>退款金额：</span>{{item.totalPrice}}
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </ul>

                                <div class="change move-right" style="right: 20%">
                                    <li class="td td-moneystatus td-status">
                                        <div class="item-status">
                                            <p class="Mystatus">{{gm.getOrderDetailStateStr(item.refundState)}}</p>

                                        </div>
                                    </li>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
                <div v-else class="order-main">
                    <div class="order-list">
                        <p style="line-height: 100px;text-align: center">这里什么也没有，空空如也...￣□￣｜｜</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ———————————————————————————————————————— 保留 ———————————————————————————————————————— -->

</body>
<script>

    var vm = new Vue({
        el: "#refundInfoApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            userRefundData: {},// 用户售后数据
        },
        created() {
            // 1,加载用户信息
            this.loadUserData();

            // 2,加载退款数据
            this.loadRefundData();
        }
        ,
        watch: {}
        ,
        computed: {}
        ,
        methods: {
            /* 加载用户信息 */
            loadUserData() {
                var isLogin = 0;
                // 1，登录验证
                gm.verifyUser().then(() => {
                    isLogin = 1;
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("加载用户信息异常...")
                    }
                })
            },
            /* 加载退款数据 */
            loadRefundData() {
                gm.http.get("/refund/auth/queryRefund")
                    .then(resp => {
                        var data = resp.data;
                        if (resp.status === 200) {
                            if (gm.isObjectNotEmpty(data)) {
                                this.userRefundData = data;
                            }
                        }
                    })
                    .catch(() => {
                        alert("加载退款数据异常!")
                    })
            }
        }
    })
</script>
</html>