<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>我的收藏</title>

    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="css/personal.css" rel="stylesheet" type="text/css">
    <link href="css/colstyle.css" rel="stylesheet" type="text/css">

    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>

</head>

<body style="background-color: white">

<!-- ----------------------------------------- 保留 ----------------------------------------- -->

<div id="collectApp" class="user-collection">
    <!--标题 -->
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的收藏</strong> /
            <small>My&nbsp;Collection</small></div>
    </div>
    <hr/>

    <div class="you-like">
        <div class="s-bar">
            我的收藏
        </div>
        <!-- 渲染数据 -->
        <div v-if="collectList.length>0" class="s-content">
            <!-- 单条数据渲染 -->
            <div v-for="(collect,index) in collectList" class="s-item-wrap">
                <div class="s-item">

                    <div class="s-pic">
                        <a target="_blank"
                           :href="'http://www.greenmall.com/goods/introduction/'+collect.goodsId+'.html'"
                           class="s-pic-link">
                            <img width="220" height="220" :src="collect.image"
                                 :title="collect.subTitle" class="s-pic-img s-guess-item-img">
                            <span v-if="collect.valid!=1" class="tip-title">已下架</span>
                        </a>
                    </div>
                    <div class="s-info">
                        <div class="s-title">
                            <a target="_blank"
                               :href="'http://www.greenmall.com/goods/introduction/'+collect.goodsId+'.html'"
                               :title="collect.subTitle">{{collect.title}}</a>
                        </div>
                        <div class="s-price-box">
                            <!-- 价格 -->
                            <span class="s-price"><em class="s-price-sign">¥</em><em
                                    class="s-value">{{collect.price}}</em></span>
                        </div>
                        <div class="s-extra-box">
                            <span class="s-comment">好评: {{collect.goodEvaluateDegree*100}}%</span>
                            <span class="s-sales">月销: {{collect.saleMonth}}</span>
                        </div>
                    </div>
                    <div class="s-tp">
                        <span @click="deleteCollection(collect.id)" class="ui-btn-loading-before" style="width: 100%;">取消收藏</span>
                        <i class="am-icon-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="s-content">
            <p style="text-align: center;line-height: 50px">收藏夹空空如也 ￣□￣｜｜。。。</p>
        </div>

        <div @click="loadMoreCollectData" class="s-more-btn i-load-more-item" data-screen="0">
            <i class="am-icon-refresh am-icon-fw"></i>更多
        </div>

    </div>

</div>
<!-- ----------------------------------------- 保留 ----------------------------------------- -->

</body>
<script>
    var vm = new Vue({
        el: "#collectApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            loadNum: 6,
            collectList: []
        }, created() {
            // 1，加载收藏数据
            this.loadCollectData(this.loadNum);
        },
        watch: {},
        computed: {},
        methods: {
            /* 加载收藏数据 */
            loadCollectData(loadNum) {
                var isLogin = 0;
                // 1，登录验证
                gm.verifyUser().then(() => {
                    isLogin = 1;
                    // 2，加载收藏夹数据
                    gm.http.get("/collect/queryCollect/" + loadNum)
                        .then(resp => {
                            var data = resp.data;
                            if (resp.status === 200) {
                                this.collectList = data;
                            } else if (resp.status === 404) {
                                // alert("收藏夹空空如也!")
                            } else {
                                alert("加载收藏夹失败!")
                            }
                        })
                        .catch(() => {
                            alert("加载收藏夹失败!")
                        })
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("加载收藏夹异常...")
                    }
                })
            },
            /* 取消收藏 */
            deleteCollection(collectId) {
                gm.http.get("/collect/deleteCollection/" + collectId)
                    .then(resp => {
                        var data = resp.data;
                        if (resp.status === 200) {
                            alert("取消收藏成功！");
                            this.collectList.splice(this.collectList.indexOf(this.collectList.find(collect => {
                                return collect.id == collectId;
                            })), 1);
                        } else {
                            alert("取消收藏失败!")
                        }
                    })
                    .catch(() => {
                        alert("取消收藏失败!")
                    })
            },
            /* 加载更多数据 */
            loadMoreCollectData() {
                if (this.loadNum > this.collectList.length) {
                    alert("没有更多数据了...");
                } else {
                    this.loadNum += 6;
                    this.loadCollectData(this.loadNum);
                }
            }
        }
    });
</script>
</html>