<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>订单管理</title>

    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="css/personal.css" rel="stylesheet" type="text/css">
    <link href="css/orstyle.css" rel="stylesheet" type="text/css">

    <script src="AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/validate.js"></script>
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>
    <!-- 引入layui -->
    <script src="http://www.greenmall.com/layui/layui.js"></script>
    <link href="http://www.greenmall.com/layui/css/layui.css" rel="stylesheet" type="text/css">


</head>

<body style="background-color: white">

<!-- ----------------------------------------- 保留 ----------------------------------------- -->
<div id="userOrderApp" class="user-order">

    <!--标题 -->
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> /
            <small>Order</small></div>
    </div>
    <hr/>

    <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

        <ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">所有订单</a></li>
            <li><a href="#tab3">待发货</a></li>
            <li><a href="#tab4">待收货</a></li>
            <li><a href="#tab5">待评价</a></li>
        </ul>

        <div class="am-tabs-bd">
            <!-- 所有订单 -->
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <!-- ------------------------------------------------- -->
                <!-- 表头 -->
                <div class="order-top">
                    <div class="th th-item">
                        <td class="td-inner">商品</td>
                    </div>
                    <div class="th th-price">
                        <td class="td-inner">单价</td>
                    </div>
                    <div class="th th-number">
                        <td class="td-inner">数量</td>
                    </div>
                    <div class="th th-operation">
                        <td class="td-inner">商品操作</td>
                    </div>
                    <div class="th th-amount">
                        <td class="td-inner">合计</td>
                    </div>
                    <div class="th th-status">
                        <td class="td-inner">交易状态</td>
                    </div>
                    <div class="th th-change">
                        <td class="td-inner">交易操作</td>
                    </div>
                </div>
                <!-- 订单内容区域 -->
                <div class="order-main">
                    <!-- 单条订单 -->
                    <div v-if="gm.isCollectionNotEmpty(allOrderList)"
                         v-for="(item,index) in allOrderList"
                         :key="item.id+'allOrderList'"
                         class="order-list">

                        <div class="order-status3">
                            <div class="order-title">
                                <div class="dd-num">订单编号：<a href="javascript:;">{{item.id}}</a></div>
                                <span>成交时间：{{gm.renderTime(item.createTime)}}</span>
                            </div>
                            <div class="order-content">
                                <div class="order-left">
                                    <!-- 单条订单详情 -->
                                    <ul v-for="(od,index) in item.orderDetailList"
                                        :key="index+'od'"
                                        class="item-list">

                                        <li class="td td-item">
                                            <div class="item-pic">
                                                <a :href="'http://www.greenmall.com/goods/introduction/'+od.goodsId+'.html'"
                                                   class="J_MakePoint">
                                                    <!-- 图片 -->
                                                    <img width="80px"
                                                         height="80px"
                                                         :src="od.goodsImage"
                                                         class="itempic J_ItemImg">
                                                </a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-basic-info">
                                                    <!-- 商品名称 -->
                                                    <a href="javascript:void(0)">
                                                        <p>{{od.goodsTitle}}</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="td td-price">
                                            <!-- 商品单价 -->
                                            <div class="item-price">
                                                {{gm.gmFormatPrice(od.unitPrice)}}
                                            </div>
                                        </li>
                                        <li class="td td-number">
                                            <!-- 商品数量 -->
                                            <div class="item-number">
                                                <span>×</span>{{od.num}}
                                            </div>
                                        </li>
                                        <li class="td td-operation">
                                            <div class="item-operation">
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="order-right">
                                    <li class="td td-amount">
                                        <div class="item-amount">
                                            合计：{{gm.gmFormatPrice(item.totalPrice)}}
                                        </div>
                                    </li>

                                    <!-- 待发货 -->
                                    <div v-if="item.state == 10" class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">等待发货</p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <div class="am-btn am-btn-danger anniu">
                                                请耐心等待发货
                                            </div>
                                        </li>
                                    </div>
                                    <!-- 待收货 -->
                                    <div v-else-if="item.state == 20" class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">卖家已发货</p>
                                                <p class="order-info">
                                                    <a @click="queryLogisticsInfo(item.id,item.addressId)">查看物流</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <div @click="receiveGoods(item.id)" class="am-btn am-btn-danger anniu">
                                                确认收货
                                            </div>
                                        </li>
                                    </div>
                                    <!-- 待评价 -->
                                    <div v-else-if="item.isNeedEvaluate == 1" class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">交易成功</p>
                                                <p class="Mystatus">待评价</p>
                                                <p class="order-info">
                                                    <a @click="queryLogisticsInfo(item.id,item.addressId)">查看物流</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <a @click="commentOrderGoods(item.id)">
                                                <div class="am-btn am-btn-danger anniu">
                                                    评价商品
                                                </div>
                                            </a>
                                            <a @click="deleteOrder(item.id)">
                                                <div class="am-btn am-btn-danger anniu">
                                                    删除订单
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                    <!-- 交易完成 -->
                                    <div v-else-if="item.state == 30" class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">交易成功</p>
                                                <p class="order-info">
                                                    <a @click="queryLogisticsInfo(item.id,item.addressId)">查看物流</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <a @click="deleteOrder(item.id)">
                                                <div class="am-btn am-btn-danger anniu">
                                                    删除订单
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                    <!-- 交易关闭 -->
                                    <div v-else-if="item.state == 40" class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">交易关闭</p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <a @click="deleteOrder(item.id)">
                                                <div class="am-btn am-btn-danger anniu">
                                                    删除订单
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="order-list">
                        <p style="line-height: 100px;text-align: center">这里什么也没有，空空如也...￣□￣｜｜</p>
                    </div>
                </div>

            </div>
            <!-- 待发货 -->
            <div class="am-tab-panel am-fade" id="tab3">
                <!-- 表头 -->
                <div class="order-top">
                    <div class="th th-item">
                        <td class="td-inner">商品</td>
                    </div>
                    <div class="th th-price">
                        <td class="td-inner">单价</td>
                    </div>
                    <div class="th th-number">
                        <td class="td-inner">数量</td>
                    </div>
                    <div class="th th-operation">
                        <td class="td-inner">商品操作</td>
                    </div>
                    <div class="th th-amount">
                        <td class="td-inner">合计</td>
                    </div>
                    <div class="th th-status">
                        <td class="td-inner">交易状态</td>
                    </div>
                    <div class="th th-change">
                        <td class="td-inner">交易操作</td>
                    </div>
                </div>
                <!-- 订单内容区域 -->
                <div class="order-main">
                    <!-- 单条订单 -->
                    <div v-if="gm.isCollectionNotEmpty(sendList)"
                         v-for="(item,index) in sendList"
                         :key="item.id+'sendList'"
                         class="order-list">

                        <div class="order-status3">
                            <div class="order-title">
                                <div class="dd-num">订单编号：<a href="javascript:;">{{item.id}}</a></div>
                                <span>成交时间：{{gm.renderTime(item.createTime)}}</span>
                            </div>
                            <div class="order-content">
                                <div class="order-left">
                                    <!-- 单条订单详情 -->
                                    <ul v-for="(od,index) in item.orderDetailList"
                                        :key="index+'od'"
                                        class="item-list">

                                        <li class="td td-item">
                                            <div class="item-pic">
                                                <a :href="'http://www.greenmall.com/goods/introduction/'+od.goodsId+'.html'"
                                                   class="J_MakePoint">
                                                    <!-- 图片 -->
                                                    <img width="80px"
                                                         height="80px"
                                                         :src="od.goodsImage"
                                                         class="itempic J_ItemImg">
                                                </a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-basic-info">
                                                    <!-- 商品名称 -->
                                                    <a href="javascript:void(0)">
                                                        <p>{{od.goodsTitle}}</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="td td-price">
                                            <!-- 商品单价 -->
                                            <div class="item-price">
                                                {{gm.gmFormatPrice(od.unitPrice)}}
                                            </div>
                                        </li>
                                        <li class="td td-number">
                                            <!-- 商品数量 -->
                                            <div class="item-number">
                                                <span>×</span>{{od.num}}
                                            </div>
                                        </li>
                                        <!-- 退款 -->
                                        <li class="td td-operation">
                                            <div class="item-operation">
                                                <a @click="refund(item.id,od.goodsId)">退款</a>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="order-right">
                                    <li class="td td-amount">
                                        <div class="item-amount">
                                            合计：{{gm.gmFormatPrice(item.totalPrice)}}
                                        </div>
                                    </li>
                                    <div class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">等待发货</p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <div class="am-btn am-btn-danger anniu">
                                                请耐心等待发货
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="order-list">
                        <p style="line-height: 100px;text-align: center">这里什么也没有，空空如也...￣□￣｜｜</p>
                    </div>
                </div>
            </div>
            <!-- 待收货 -->
            <div class="am-tab-panel am-fade" id="tab4">
                <!-- 表头 -->
                <div class="order-top">
                    <div class="th th-item">
                        <td class="td-inner">商品</td>
                    </div>
                    <div class="th th-price">
                        <td class="td-inner">单价</td>
                    </div>
                    <div class="th th-number">
                        <td class="td-inner">数量</td>
                    </div>
                    <div class="th th-operation">
                        <td class="td-inner">商品操作</td>
                    </div>
                    <div class="th th-amount">
                        <td class="td-inner">合计</td>
                    </div>
                    <div class="th th-status">
                        <td class="td-inner">交易状态</td>
                    </div>
                    <div class="th th-change">
                        <td class="td-inner">交易操作</td>
                    </div>
                </div>
                <!-- 订单内容区域 -->
                <div class="order-main">
                    <!-- 单条订单 -->
                    <div v-if="gm.isCollectionNotEmpty(receiveList)"
                         v-for="(item,index) in receiveList"
                         :key="item.id+'receiveList'"
                         class="order-list">

                        <div class="order-status3">
                            <div class="order-title">
                                <div class="dd-num">订单编号：<a href="javascript:;">{{item.id}}</a></div>
                                <span>成交时间：{{gm.renderTime(item.createTime)}}</span>
                            </div>
                            <div class="order-content">
                                <div class="order-left">
                                    <!-- 单条订单详情 -->
                                    <ul v-for="(od,index) in item.orderDetailList"
                                        :key="index+'od'"
                                        class="item-list">

                                        <li class="td td-item">
                                            <div class="item-pic">
                                                <a :href="'http://www.greenmall.com/goods/introduction/'+od.goodsId+'.html'"
                                                   class="J_MakePoint">
                                                    <!-- 图片 -->
                                                    <img width="80px"
                                                         height="80px"
                                                         :src="od.goodsImage"
                                                         class="itempic J_ItemImg">
                                                </a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-basic-info">
                                                    <!-- 商品名称 -->
                                                    <a href="javascript:void(0)">
                                                        <p>{{od.goodsTitle}}</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="td td-price">
                                            <!-- 商品单价 -->
                                            <div class="item-price">
                                                {{gm.gmFormatPrice(od.unitPrice)}}
                                            </div>
                                        </li>
                                        <li class="td td-number">
                                            <!-- 商品数量 -->
                                            <div class="item-number">
                                                <span>×</span>{{od.num}}
                                            </div>
                                        </li>
                                        <li class="td td-operation">
                                            <div class="item-operation">
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="order-right">
                                    <li class="td td-amount">
                                        <div class="item-amount">
                                            合计：{{gm.gmFormatPrice(item.totalPrice)}}
                                        </div>
                                    </li>
                                    <div class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">卖家已发货</p>
                                                <p class="order-info">
                                                    <a @click="queryLogisticsInfo(item.id,item.addressId)">查看物流</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <div @click="receiveGoods(item.id)" class="am-btn am-btn-danger anniu">
                                                确认收货
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="order-list">
                        <p style="line-height: 100px;text-align: center">这里什么也没有，空空如也...￣□￣｜｜</p>
                    </div>
                </div>
            </div>
            <!-- 待评价 -->
            <div class="am-tab-panel am-fade" id="tab5">
                <!-- 表头 -->
                <div class="order-top">
                    <div class="th th-item">
                        <td class="td-inner">商品</td>
                    </div>
                    <div class="th th-price">
                        <td class="td-inner">单价</td>
                    </div>
                    <div class="th th-number">
                        <td class="td-inner">数量</td>
                    </div>
                    <div class="th th-operation">
                        <td class="td-inner">商品操作</td>
                    </div>
                    <div class="th th-amount">
                        <td class="td-inner">合计</td>
                    </div>
                    <div class="th th-status">
                        <td class="td-inner">交易状态</td>
                    </div>
                    <div class="th th-change">
                        <td class="td-inner">交易操作</td>
                    </div>
                </div>
                <!-- 单条订单 -->
                <div class="order-main">
                    <div v-if="gm.isCollectionNotEmpty(evaluateList)" class="order-list"
                         v-for="(item,index) in evaluateList"
                         :key="item.id+'evaluateList'"
                         class="order-list">

                        <div class="order-status4">
                            <div class="order-title">
                                <div class="dd-num">订单编号：<a href="javascript:;">{{item.id}}</a></div>
                                <span>成交时间：{{gm.renderTime(item.createTime)}}</span>
                            </div>
                            <div class="order-content">
                                <div class="order-left">
                                    <!-- 单调商品详情 -->
                                    <ul v-for="(od,index) in item.orderDetailList"
                                        :key="index+'od'"
                                        class="item-list">

                                        <li class="td td-item">
                                            <div class="item-pic">
                                                <a :href="'http://www.greenmall.com/goods/introduction/'+od.goodsId+'.html'"
                                                   class="J_MakePoint">
                                                    <!-- 图片 -->
                                                    <img width="80px"
                                                         height="80px"
                                                         :src="od.goodsImage"
                                                         class="itempic J_ItemImg">
                                                </a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-basic-info">
                                                    <!-- 商品名称 -->
                                                    <a href="javascript:void(0)">
                                                        <p>{{od.goodsTitle}}</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="td td-price">
                                            <!-- 商品单价 -->
                                            <div class="item-price">
                                                {{gm.gmFormatPrice(od.unitPrice)}}
                                            </div>
                                        </li>
                                        <li class="td td-number">
                                            <!-- 商品数量 -->
                                            <div class="item-number">
                                                <span>×</span>{{od.num}}
                                            </div>
                                        </li>
                                        <li class="td td-operation">
                                            <div class="item-operation">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="order-right">
                                    <li class="td td-amount">
                                        <div class="item-amount">
                                            合计：{{gm.gmFormatPrice(item.totalPrice)}}
                                        </div>
                                    </li>
                                    <div class="move-right">
                                        <li class="td td-status">
                                            <div class="item-status">
                                                <p class="Mystatus">交易成功</p>
                                                <p class="order-info">
                                                    <a @click="queryLogisticsInfo(item.id,item.addressId)">查看物流</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="td td-change">
                                            <a @click="commentOrderGoods(item.id)">
                                                <div class="am-btn am-btn-danger anniu">
                                                    评价商品
                                                </div>
                                            </a>
                                            <a @click="deleteOrder(item.id)">
                                                <div class="am-btn am-btn-danger anniu">
                                                    删除订单
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="order-list">
                        <p style="line-height: 100px;text-align: center">这里什么也没有，空空如也...￣□￣｜｜</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- ----------------------------------------- 保留 ----------------------------------------- -->
</body>
<script>

    var vm = new Vue({
        el: "#userOrderApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            allOrderList: [],   // 所有订单
            sendList: [],       // 待发货
            receiveList: [],    // 待收货
            evaluateList: []    //待评价
        },
        created() {
            // 1,加载用户信息
            this.loadUserData();
            // 2,指定用户加载订单信息
            this.loadOrderData();
        }
        ,
        watch: {}
        ,
        computed: {}
        ,
        methods: {
            /* 加载用户信息 */
            loadUserData() {
                var isLogin = 0;
                // 1，登录验证
                gm.verifyUser().then(() => {
                    isLogin = 1;
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("加载用户信息异常...")
                    }
                })
            },
            /* 加载用户订单信息 */
            loadOrderData() {
                gm.http.get("/order/auth/queryOrder/")
                    .then(resp => {
                        var data = resp.data;
                        if (resp.status === 200) {
                            this.allOrderList = data;
                            // 将 allOrderList 进行分流
                            this.classifyOrderList();
                        } else {

                        }
                    })
                    .catch(() => {
                        alert("加载用户订单信息异常!")
                    })
            },
            /* 将订单分类 */
            classifyOrderList() {
                // 待发货
                this.sendList = gm.findList(this.allOrderList, 'state', 10);
                // 待收货
                this.receiveList = gm.findList(this.allOrderList, 'state', 20);
                // 待评价
                this.evaluateList = gm.findList(this.allOrderList, 'isNeedEvaluate', 1);
            },
            /* 查看物流 */
            queryLogisticsInfo(orderId, addressId) {
                window.location.href = "http://www.greenmall.com/logistics.html?orderId=" + orderId + "&addressId=" + addressId;
            },
            /* 收货 */
            receiveGoods(orderId) {

                // 1，发送确认收货请求
                gm.http.get("/order/auth/confirmReceipt/" + orderId)
                    .then(resp => {
                        var data = resp.data;
                        if (data.state == 1) {
                            alert("确认收货成功!");
                            // 2，将该订单数据从此集合中移除，添加到待评价的订单集合中
                            var receiveGoodsIndex = gm.findListIndex(this.receiveList, 'id', orderId);
                            var receiveGoodsCopy = gm.copyObject(this.receiveList[receiveGoodsIndex]);
                            receiveGoodsCopy.state = 30; // 交易完成
                            this.evaluateList.push(receiveGoodsCopy);
                            this.receiveList.splice(receiveGoodsIndex, 1);
                        } else {
                            alert("确认收货失败!")
                        }
                    })
                    .catch(() => {
                        alert("确认收货异常!")
                    })
            },
            /* 评价 */
            commentOrderGoods(orderId) {
                console.log("评价商品：" + orderId);
                // 1,封装数据存储在浏览器
                var commentOrder = gm.findList(this.evaluateList, "id", orderId)[0];
                gm.store.set("commentOrder", commentOrder);
                // 2,跳转页面
                window.location.href = "http://www.greenmall.com/commentlist.html";
            },
            /* 删除订单 */
            deleteOrder(orderId) {
                // 1，发送确认收货请求
                gm.http.get("/order/auth/deleteOrder/" + orderId)
                    .then(resp => {
                        var data = resp.data;
                        if (data.state == 1) {
                            alert("订单删除成功!")
                            // 从全部 List 中删除
                            var dAllIndex = gm.findListIndex(this.allOrderList, "id", orderId);
                            var dEvaIndex = gm.findListIndex(this.evaluateList, "id", orderId);
                            // 从待评价的 List 中删除
                            if (dAllIndex >= 0) {
                                this.allOrderList.splice(dAllIndex, 1);
                            }
                            if (dEvaIndex >= 0) {
                                this.evaluateList.splice(dEvaIndex, 1);
                            }
                        } else {
                            alert(data.info);
                        }
                    })
                    .catch(() => {
                        alert("订单删除异常!")
                    })
            },
            /* 退款 */
            refund(orderId, goodsId) {
                console.log("orderId:" + orderId + ",goodsId:" + goodsId);

                // 1，查找订单数据
                var orderInfo = gm.findList(this.sendList, "id", orderId)[0];

                // 2，查找商品数据
                var goodsInfo = gm.findList(orderInfo.orderDetailList, "goodsId", goodsId)[0];

                // 3，退款相关信息
                var refundData = {
                    id: orderInfo.id,
                    createTime: orderInfo.createTime,
                    refundGoodsInfo: goodsInfo
                }

                // 4，临时存储退款信息
                gm.store.set("refundData",refundData);

                // 5，跳转到退款页面
                window.location.href = "http://www.greenmall.com/refund.html";
            }
        }
    })
</script>
</html>