<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>结算页面</title>

    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>

    <link href="basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="css/cartstyle.css" rel="stylesheet" type="text/css"/>

    <link href="css/jsstyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="js/address.js"></script>

    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/math.js"></script>
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>

    <style>
        #gmHr {
            width: 1200px;
            margin: 0px auto;
        }
    </style>
</head>

<body>

<!-- 头部位置 -->
<div id="payApp">

    <!-- 头部栏位 -->
    <div id="nav-gm">
        <gm-top/>
    </div>

    <div id="gmHr" class="logistics">
        <h3 style="font-size: 20px">订单信息</h3>
    </div>

    <div class="clear"></div>
    <div class="concent">
        <!--地址 -->
        <div class="paycont">
            <div class="address">
                <h3>确认收货地址</h3>
                <div class="clear"></div>
                <ul>
                    <div class="per-border"></div>
                    <!-- 单条收货地址 -->
                    <li style="cursor: pointer" v-for="(address,index) in userAddressList"
                        :class="{'user-addresslist': 1==1,'defaultAddr': address.isChecked == 1 }"
                        @click="selectAddress(address.id)">

                        <div class="address-left">
                            <div class="user DefaultAddr">
                                <span class="buy-address-detail">
                                    <span class="buy-user">{{address.consignee}} </span>
                                    <span class="buy-phone">{{address.phone}}</span>
                                </span>
                            </div>
                            <div class="default-address DefaultAddr">
                                <span class="buy-line-title buy-line-title-type">收货地址：</span>
                                <span class="buy--address-detail">
								   <span class="province">{{address.fullAddress}}</span>
                                </span>
                            </div>
                            <ins v-if="address.isDefault == 1" class="deftip">默认地址</ins>
                        </div>
                        <div class="address-right">
                            <a href="person/address.html">
                                <span class="am-icon-angle-right am-icon-lg"></span></a>
                        </div>
                        <div class="clear"></div>


                    </li>
                </ul>

                <div class="clear"></div>
            </div>
            <!--物流 -->
            <div class="logistics">
                <h3>物流方式：</h3>
                <span style="color: red;font-size: 13px;font-weight: bold;">申通快递/圆通速递/百世快递/天天快递（注：随机发一种）</span>
            </div>
            <div class="clear"></div>

            <!--支付方式-->
            <div class="logistics">
                <h3>支付方式：</h3>
                <span style="color: red;font-size: 13px;font-weight: bold;">绿色商城账户</span>
            </div>
            <div class="clear"></div>

            <!--订单 -->
            <div class="concent">
                <div id="payTable">
                    <h3>确认订单信息</h3>
                    <div class="cart-table-th">
                        <div class="wp">

                            <div class="th th-item">
                                <div class="td-inner">商品信息</div>
                            </div>
                            <div class="th th-price">
                                <div class="td-inner">单价</div>
                            </div>
                            <div class="th th-amount">
                                <div class="td-inner">数量</div>
                            </div>
                            <div class="th th-sum">
                                <div class="td-inner">金额</div>
                            </div>
                            <div class="th th-oplist">
                                <div class="td-inner">配送方式</div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- 订单数据 -->
                    <div v-for="(item,index) in goodsList" :key="index" class="bundle  bundle-last"
                         style="margin-top:5px;border: 1px solid rgb(245,245,245)">
                        <div class="bundle-main">
                            <ul class="item-content clearfix">
                                <div class="pay-phone">
                                    <li class="td td-item">
                                        <div class="item-pic">
                                            <a href="#" class="J_MakePoint">
                                                <!-- 图片 -->
                                                <img width="80px" height="80px" :src="item.goodsImage"
                                                     class="itempic J_ItemImg"></a>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-basic-info">
                                                <a :href="'http://www.greenmall.com/goods/introduction/'+item.goodsId+'.html'"
                                                   class="item-title J_MakePoint" data-point="tbcart.8.11">{{item.goodsTitle}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 价格 -->
                                    <li class="td td-price">
                                        <div class="item-price price-promo-promo">
                                            <div class="price-content">
                                                <em class="J_Price price-now">{{gm.gmFormatPrice(item.price)}}</em>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <li class="td td-amount">
                                    <div class="amount-wrapper ">
                                        <div class="item-amount ">
                                            <!-- 数量 -->
                                            <span class="phone-title">购买数量</span>
                                            <div class="sl">
                                                <input disabled="disabled" class="text_box" name="" type="text"
                                                       :value="item.num"
                                                       style="width:30px;"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-sum">
                                    <div class="td-inner">
                                        <!-- 总金额 -->
                                        <em tabindex="0" class="J_ItemSum number">{{calPrice(item.price,item.num)}}</em>
                                    </div>
                                </li>
                                <li class="td td-oplist">
                                    <div class="td-inner">
                                        <span class="phone-title">配送方式</span>
                                        <div class="pay-logis">
                                            包邮
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <!--含运费小计 -->
            <div class="buy-point-discharge ">
                <p class="price g_price ">
                    合计（包邮） <span>¥</span><em class="pay-sum">{{calTotalPrice}}</em>
                </p>
            </div>

            <!--信息 -->
            <div class="order-go clearfix">
                <div class="pay-confirm clearfix">
                    <div class="box">
                        <div tabindex="0" id="holyshit267" class="realPay"><em class="t">实付款：</em>
                            <span class="price g_price ">
                                    <span>¥</span> <em class="style-large-bold-red "
                                                       id="J_ActualFee">{{calTotalPrice}}</em>
											</span>
                        </div>

                        <div id="holyshit268" class="pay-address">

                            <p class="buy-footer-address">
                                <span class="buy-line-title buy-line-title-type">寄送至：</span>
                                <span class="buy--address-detail">
								   {{checkedAddress.fullAddress}}
                                </span>
                            </p>
                            <p class="buy-footer-address">
                                <span class="buy-line-title">收货人：</span>
                                <span class="buy-address-detail">
                                    <span class="buy-user">{{checkedAddress.consignee}} </span>
                                    <span class="buy-phone">{{checkedAddress.phone}}</span>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div id="holyshit269" class="submitOrder">
                        <div class="go-btn-wrap">
                            <a id="J_Go" @click="submitOrder" class="btn-go" tabindex="0" title="点击此按钮，提交订单">提交订单</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <gm-footer></gm-footer>
</div>
</body>


<script>
    var vm = new Vue({
        el: "#payApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            goodsList: [],
            totalPrice: 0.00,
            userAddressList: [],
            checkedAddress: {},
            isShopCartDeleted: 0
        }, created() {
            // 1，验证用户是否登录 并 加载本地数据并渲染
            this.loadPayData();
            // 2，加载收货地址
            this.loadUserAddress();
        },
        components: {
            gmTop: () => import("http://www.greenmall.com/js/pages/top.js"),
            gmFooter: () => import("http://www.greenmall.com/js/pages/footer.js"),
        },
        watch: {},
        computed: {
            /* 计算总金额 */
            calTotalPrice() {
                let totalPrice1 = 0.0;
                if (gm.isCollectionNotEmpty(this.goodsList)) {
                    this.goodsList.forEach(item => {
                        totalPrice1 = gm.gmadd(gm.gmmultiply(item.price, item.num), totalPrice1);
                    })
                }
                this.totalPrice = totalPrice1;
                return this.totalPrice;
            }
        },
        methods: {
            /* 加载订单数据 */
            loadPayData() {
                gm.verifyUser().then(() => {
                    isLogin = 1;
                    // 从 localStorage 中读取数据并渲染
                    var temp = gm.store.get("payData");
                    if (gm.isCollectionNotEmpty(temp.goodsData)) {
                        // 判断数据是否邮箱
                        var dateDiff = (new Date().getTime()) - temp.payDate;
                        if (dateDiff > 2 * 60 * 1000) {
                            alert("订单数据失效,请重新提交订单!")
                            gm.store.set("payData", {});
                            return;
                        }
                        this.goodsList = temp.goodsData;
                    } else {
                        alert("订单数据加载失败!");
                    }
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.top.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("订单数据加载异常...")
                    }
                })
            },
            /* 计算商品金额 */
            calPrice(unitPrice, num) {
                var temp = gm.gmmultiply(unitPrice, num);
                return temp;
            },
            /* 加载用户地址 */
            loadUserAddress() {
                gm.http.get("/address/queryUserAddress/")
                    .then(resp => {
                        var data = resp.data;
                        if (resp.status === 200) {
                            if (gm.isCollectionNotEmpty(data)) {
                                this.userAddressList = data;

                                // 新增属性并初始化默认选中
                                this.userAddressList.forEach(address => {
                                    address.isChecked = 0;
                                    if (address.isDefault == 1) {
                                        address.isChecked = 1;
                                        // 初始化默认选中
                                        this.checkedAddress = address;
                                    }
                                });

                            } else {
                                alert("您还没有设置收货地址，请在 个人中心->个人资料->收货地址 设置!");
                            }
                        } else if (resp.status === 404) {
                            // alert("一级行政区域数据空空如也!")
                        } else {
                            alert("加载用户地址数据失败!")
                        }
                    })
                    .catch(() => {
                        alert("加载用户地址数据失败，您可能还没有登录!")
                    })
            },
            /* 选择地址 */
            selectAddress(addressId) {
                // 1，移除旧的选中地址
                // 2，根据id设置新的选中地址
                this.userAddressList.forEach(address => {
                    address.isChecked = 0;
                    if (address.id == addressId) {
                        address.isChecked = 1;
                        this.checkedAddress = address;
                    }
                });
            },
            /* 提交订单 */
            submitOrder() {
                // 1，封装数据
                var submitOrderList = [];
                this.goodsList.forEach(goodsItem => {
                    var order = {
                        addressId: this.checkedAddress.id,
                        goodsId: goodsItem.goodsId,
                        unitPrice: goodsItem.price,
                        num: goodsItem.num
                    }
                    submitOrderList.push(order);
                });

                // 2，发起请求
                this.gm.http.post("/order/auth/submitOrder", submitOrderList).then(resp => {
                    if (resp.status === 200) {
                        var data = resp.data;
                        if (data.state = 1) {

                            // 删除浏览器临时存储的数据
                            gm.store.set("payData", {});

                            // 删除购物车数据
                            this.deleteShopCartData();

                            var temp = this;
                            var test2 = window.setInterval(function () {
                                if (temp.isShopCartDeleted == 1) {
                                    // 删除成功
                                    temp.isShopCartDeleted = 0;
                                    // 保存相关订单数据，方便成功页面使用
                                    gm.store.set("totalPrice", temp.totalPrice);
                                    gm.store.set("address", temp.checkedAddress);
                                    // 跳转页面
                                    window.top.location.href = "http://www.greenmall.com/success.html";
                                    // 清除定时器
                                    window.clearInterval(test2);
                                }
                            }, 20);

                        } else if (data.state = 2) {
                            alert(data.info);
                        } else {
                            alert("订单提交失败!")
                        }
                    } else {
                        alert("订单提交失败!")
                    }
                }).catch(() => {
                    alert("订单提交异常。")
                });
            },
            /* 删除购物车数据 */
            deleteShopCartData() {
                // 1,封装数据
                var goodsIds = gm.getListAttrs(this.goodsList, 'goodsId');
                console.log("goodsIds：" + JSON.stringify(goodsIds));
                if (false == gm.isCollectionNotEmpty(goodsIds)) {
                    return;
                }
                // 2,执行删除
                this.gm.http.post("/shopCart/deleteBatch", goodsIds).then(resp => {
                    if (resp.status === 200) {
                        var message = resp.data;
                        if (message.state == 1) {
                            this.isShopCartDeleted = 1;
                            // alert("购物车数据删除成功!");
                        }
                    }
                }).catch(() => {
                    alert("删除多条购物车数据异常。")
                });
            }
        }
    });
</script>
</html>