<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="http://www.greenmall.com/AmazeUI-2.4.2/assets/css/amazeui.min.css"/>
    <link href="http://www.greenmall.com/css/dlstyle.css" rel="stylesheet" type="text/css">
    <script src="http://www.greenmall.com/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="http://www.greenmall.com/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/validate.js"></script>
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>

    <style type="text/css">
        .gmErrorInfo {
            color: red;
            font-size: 12px;
        }
    </style>
</head>

<body>
<div id="registerApp">
    <div class="login-boxtitle">
        <a href="http://www.greenmall.com/"><img alt="logo" src="images/gm_logo.png"/></a>
    </div>
    <div class="res-banner" style="background-color: #0E932E">
        <div class="res-main">
            <div class="login-banner-bg">
                <img src="images/login.jpg"/>
                <span></span>
            </div>
            <div class="login-box" style="opacity: 0.9">

                <div class="am-tabs" id="doc-my-tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                        <li class="am-active"><a href="">手机号注册</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <form method="post">
                                <div class="user-phone">
                                    <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                    <input type="tel" id="phone" placeholder="请输入手机号"
                                           v-model="user.phone" name="phone" data-vv-as="手机号"
                                           v-validate="{required:true,regex:/^1[35678]\d{9}$/,useful:2}">
                                </div>
                                <span class="gmErrorInfo" style="color: red;">{{ errors.first('phone') }}</span>
                                <div class="verification">
                                    <label for="code"><i class="am-icon-code-fork"></i></label>
                                    <input style="width: 150px;" type="tel" id="code" placeholder="请输入验证码"
                                           v-model="user.code" name="code" v-validate="'required'" data-vv-as="验证码">
                                    <a class="btn" href="javascript:void(0);"
                                       id="sendMobileCode">
                                        <span style="width: 140px;" @click="createVerifyCode" id="dyMobileButton">{{verifyCodeTip}}</span></a>
                                </div>
                                <span class="gmErrorInfo">{{ errors.first('code') }}</span>
                                <div class="user-pass">
                                    <label for="password"><i class="am-icon-lock"></i></label>
                                    <input type="password" id="password" placeholder="设置密码"
                                           v-model="user.password" name="password" data-vv-as="密码"
                                           v-validate="'required|alpha_dash|min:4|max:30'">
                                </div>
                                <span class="gmErrorInfo">{{ errors.first('password') }}</span>
                                <div class="user-pass">
                                    <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                    <input type="password" id="passwordRepeat" placeholder="确认密码"
                                           v-model="user.confirmPassword" name="confirmPass" data-vv-as="确认密码"
                                           v-validate="{required:true,confirm:user.password}">
                                </div>
                                <span class="gmErrorInfo">{{ errors.first('confirmPass') }}</span>
                            </form>
                            <div class="login-links">

                            </div>
                            <div class="am-cf">
                                <input @click.stop="submit" type="button" name="" value="注册"
                                       class="am-btn am-btn-primary am-btn-sm am-fl">
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 页脚 -->
        <gm-footer></gm-footer>
    </div>
</div>
</body>
<script>
    /* 数据验证 */
    Vue.use(VeeValidate, {
        events: 'blur',
        dictionary: {
            zh: {
                messages: {
                    required: (field) => field + '不能为空！',
                    min: (field, args) => field + '长度不能小于' + args[0],
                    max: (field, args) => field + '长度不能大于' + args[0],
                    alpha_dash: (field) => field + '只能包含数字、字母或下划线',
                    regex: (field) => field + "格式不正确",
                    is: () => "两次密码不一致"
                }
            }
        },
        locale: 'zh'
    });

    var registerVm = new Vue({
        el: "#registerApp",
        data: {
            gm,// 必须引用到实例中，在html标签中才能使用
            user: {
                password: '',
                confirmPassword: '',
                phone: '',
                code: ''
            },
            sendVerifyFlag: true, // 验证码发送 flag
            verifyCodeTip: "获取验证码" // 验证码获取按钮标识
        }, created() {
            /* 手机是否重复验证 */
            this.$validator.extend('useful', {
                getMessage(field, args, data) {
                    return args[0] === '1' ? '用户名' + data : '手机' + data;
                },
                validate(value, args) {
                    return new Promise(resolve => {
                        gm.http.get("/user/check/" + value + "/" + args[0])
                            .then(resp => {
                                resolve({
                                    valid: resp.data,
                                    data: "已存在!"
                                })
                            })
                    });
                }
            })
            /* 密码相同验证 */
            this.$validator.extend('confirm', {
                getMessage() {
                    return "两次密码不一致"
                },
                validate(val, args) {
                    return val === args[0]
                }
            })
        },
        components: {
            gmFooter: () => import("http://www.greenmall.com/js/pages/footer.js"),
        },
        watch: {},
        computed: {},
        methods: {
            /* 生成短信验证码 */
            createVerifyCode() {
                this.$validator.validate("phone").then(r => {
                    // 频繁获取验证码验证
                    if (this.sendVerifyFlag == false) {
                        alert("请勿频繁获取验证码!");
                        return;
                    }
                    if (r) {
                        gm.http.post("/user/code", "phone=" + this.user.phone)
                            .then(resp => {
                                if (resp.status === 200) {
                                    this.checkVerifyFlag(5*60);
                                }
                            }).catch(() => alert("验证码发送失败，请稍后再试！"));
                    }
                });
            },
            /* 注册 */
            submit() {
                this.$validator.validateAll().then(d => {
                    if (d) {
                        // 校验通过，提交表单
                        gm.http.post("/user/register", gm.stringify(this.user))
                            .then(resp => {
                                if (resp.status === 201) {
                                    // 注册成功
                                    alert("注册成功,即将跳转到登录页！");
                                    setTimeout(() => window.location = '/login.html', 2000);
                                }
                            })
                            .catch(() => alert("注册失败！"))
                    }
                })
            },
            /* 检查刷新验证码发送标识 */
            checkVerifyFlag(secondVal) {
                alert("验证码发送成功!");
                // 1，修改发送标识为：false
                this.sendVerifyFlag = false;
                // 2，60 秒后将标识修改成 true
                let count = 0;
                let tempThis = this;
                let timer = setInterval(function () {
                    count++;
                    tempThis.verifyCodeTip = (secondVal - count) + "秒后再次获取";
                    if (count >= secondVal) {
                        tempThis.sendVerifyFlag = true;
                        tempThis.verifyCodeTip = "获取验证码";
                        window.clearInterval(timer);
                    }
                }, 1000);
            }
        }
    });
</script>
</html>