<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>搜索页面</title>
    <!-- 资源引入 -->
    <link href="http://www.greenmall.com/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/css/seastyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.greenmall.com/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="http://www.greenmall.com/js/script.js"></script>
    <script type="text/javascript" src="http://www.greenmall.com/basic/js/quick_links.js"></script>
    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>

</head>

<body>
<div id="searchApp">
    <!-- 头部栏位 -->
    <div id="nav-gm">
        <gm-top></gm-top>
    </div>
    <div class="clear"></div>
    <!-- 主体内容 -->
    <div class="search">
        <gm-nav></gm-nav>
        <div class="search-list">
            <div class="am-g am-g-fixed">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="theme-popover">
                        <div class="clear"></div>
                    </div>
                    <!-- 搜索结果展示 -->
                    <div class="theme-popover">
                        <ul class="select">
                            <p class="title font-normal">
                                <span class="fl">【{{searchInfo.key}}】</span>
                                <span class="total fl">
                                    搜索到：<strong style="color: red;font-weight: bold;" class="num">
                                    {{this.pageInfo.total}}</strong>&nbsp;件相关商品
                                </span>
                            </p>
                            <div class="clear"></div>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!-- 搜索内容 -->
                    <div class="search-content" style="width: 100%">
                        <div class="sort">
                            <li :class="{first:searchInfo.sortBy === 'default'}">
                                <a @click="goodsSort('default')" title="综合">综合排序</a>
                            </li>
                            <li :class="{first:searchInfo.sortBy === 'salesVolume'}">
                                <a @click="goodsSort('salesVolume')"
                                   title="销量">销量排序&nbsp;{{getSortFlag('salesVolume')}}</a>
                            </li>
                            <li :class="{first:searchInfo.sortBy === 'price'}">
                                <a @click="goodsSort('price')" title="价格">价格优先&nbsp;{{getSortFlag('price')}}</a>
                            </li>
                            <li :class="{first:searchInfo.sortBy === 'evaluationScores'}" class="big">
                                <a @click="goodsSort('evaluationScores')" title="评价">评价为主&nbsp;{{getSortFlag('evaluationScores')}}</a>
                            </li>
                        </div>
                        <div class="clear"></div>
                        <!-- 商品展示 -->
                        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                            <!-- 循环渲染商品 -->
                            <li v-for="goods in goodsList" :key="goods.id">
                                <div class="i-pic limit">
                                    <!-- 商品图片 -->
                                    <img height="330px" :src="getImages(goods.images)"/>
                                    <!-- 商品副标题 -->
                                    <p class="title fl">
                                        【GreenMall】{{goods.subTitle.length > 20 ? goods.subTitle.substring(0,20) +
                                        '...': goods.subTitle}}</p>
                                    <!-- 商品评分 -->
                                    <p class="fl">
                                        <b>【评分】</b>
                                        <strong style="color: red">{{goods.evaluationScores}}</strong>
                                    </p>
                                    <!-- 商品价格 -->
                                    <p class="price fl">
                                        <b>¥</b>
                                        <strong>{{goods.price}}</strong>
                                    </p>
                                    <!-- 商品销量 -->
                                    <p class="number fl">
                                        销量：<span>{{goods.salesVolume}}</span>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                    <!--分页 -->
                    <ul class="am-pagination am-pagination-right">
                        <!-- 上一页 -->
                        <li :class="{'am-disabled': pageInfo.page <= 1}">
                            <a @click="prePage">&laquo;</a>
                        </li>
                        <li style="cursor: pointer" :class="{'am-active': getCorrectPage(i) == pageInfo.page}"
                            v-for="i in Math.min(5,pageInfo.totalPage)" :key="i">
                            <a @click="skipPage(getCorrectPage(i))">
                                {{getCorrectPage(i)}}
                            </a>
                        </li>
                        <!-- 下一页 -->
                        <li :class="{'am-disabled': pageInfo.page >= pageInfo.totalPage}">
                            <a @click="nextPage">&raquo;</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- 页脚 -->
            <gm-footer></gm-footer>

        </div>

    </div>
</div>
<script>
    var vm = new Vue({
        el: "#searchApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            searchInfo: {
                key: "", // 搜索页面的关键字
                page: 1, // 当前页
                sortBy: "default",
                isAsc: true
            },
            goodsList: [], // 保存搜索结果
            pageInfo: {
                page: 1,// 当前页码
                totalPage: 0, // 总页面数
                total: 0 // 数据总条数
            }
        }, created() {
            // 判断是否有请求参数
            if (!location.search) {
                return;
            }
            // 初始化请求参数
            this.initSearchData(gm.parse(location.search.substring(1)));

            // 加载数据
            this.loadData();
        },
        components: {
            gmTop: () => import("http://www.greenmall.com/js/pages/top.js"),
            gmFooter: () => import("http://www.greenmall.com/js/pages/footer.js"),
            gmNav: () => import("http://www.greenmall.com/js/pages/nav.js")
        },
        watch: {
            searchInfo: {
                deep: true,
                handler(val, old) {
                    console.log("监听搜索信息变化...");
                    // val 当前 search 对象，old 上一个 search 对象
                    if (!old || !old.key) {
                        console.log("监听搜索信息变化!!!")
                        return;
                    }
                    // 把search对象变成请求参数拼接到请求路径之后
                    window.location.href = "http://www.greenmall.com/search.html?" + gm.stringify(val);
                }
            }
        },
        computed: {},
        methods: {
            /* 分页数据加载 */
            loadData() {
                // 发送请求加载数据
                gm.http.post("/search/page", this.searchInfo).then(({data}) => {
                    // 1，初始化 goodsLists
                    this.goodsList = data.items;
                    // 2，初始化分页信息
                    this.initPageInfo(data.total, data.totalPage);
                });
            },
            /* 从url获取请求信息，并用此初始化searchInfo */
            initSearchData(search) {
                // 1,初始化搜索关键字
                search.key = search.key ? search.key : "";
                // 2,初始化搜索页
                search.page = search.page ? parseInt(search.page) : 1;
                // 3,初始化排序字段
                search.sortBy = search.sortBy ? search.sortBy : "default";
                // 4,初始化升序，降序
                search.isAsc = search.isAsc === "true" || false;
                this.searchInfo = search;
                console.log("搜索信息：" + JSON.stringify(this.searchInfo));
            },
            /* 商品图片展示 */
            getImages(images) {
                if (images != null && images.trim().length > 0) {
                    return images.split(",")[0];
                } else {
                    return "";
                }
            },
            /* 初始化分页信息 */
            initPageInfo(total, totalPage) {
                // 1，初始化数据总条数
                if (total) {
                    this.pageInfo.total = total;
                }
                // 2，初始化页面总数
                if (totalPage) {
                    this.pageInfo.totalPage = totalPage;
                }
                // 3，初始化当前页码
                if (this.searchInfo.page) {
                    this.pageInfo.page = this.searchInfo.page;
                }
                // console.log("当前分页信息：" + JSON.stringify(this.pageInfo));
            },
            /* 初始化页码 */
            getCorrectPage(index) {
                var totalPage = this.pageInfo.totalPage;
                var page = this.pageInfo.page;
                if (totalPage <= 5 || page < 3) {
                    return index;
                }
                if (page > totalPage - 2) {
                    return index + (totalPage - 5);
                }
                return (page - 3) + index;
            },
            /* 下一页 */
            nextPage() {
                if (this.searchInfo.page < this.pageInfo.totalPage) {
                    this.searchInfo.page++;
                }
            },
            /* 上一页 */
            prePage() {
                if (this.searchInfo.page > 1) {
                    this.searchInfo.page--;
                }
            },
            /* 跳转页面 */
            skipPage(page) {
                console.log("skipPage:" + page)
                this.searchInfo.page = page;
            },
            /* 商品排序 */
            goodsSort(field) {
                if (this.searchInfo.sortBy == field) {
                    this.searchInfo.isAsc = !(this.searchInfo.isAsc);
                } else {
                    this.searchInfo.sortBy = field;
                    this.searchInfo.isAsc = true;
                }
                // console.log(gm.stringify({"flag": false})); 输出为空
                console.log("排序：sortBy" + this.searchInfo.sortBy + "，isAsc:" + this.searchInfo.isAsc)
            },
            /* 排序标识 */
            getSortFlag(field) {
                console.log("获取排序标识：" + field + "当前search" + JSON.stringify(this.searchInfo));
                if (field == this.searchInfo.sortBy) {
                    if (this.searchInfo.isAsc == true) {
                        return "↑"
                    } else {
                        return "↓"
                    }
                } else {
                    return "";
                }
            }
        }
    });
</script>

<div class="theme-popover-mask"></div>

</body>

</html>