<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>搜索页面</title>
    <!-- 资源引入 -->
    <link href="http://www.greenmall.com/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/css/seastyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.greenmall.com/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="http://www.greenmall.com/js/script.js"></script>
    <script type="text/javascript" src="http://www.greenmall.com/basic/js/quick_links.js"></script>
    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>

</head>

<body>
<div id="searchApp">
    <!-- 头部栏位 -->
    <div id="nav-gm">
        <gm-top></gm-top>
    </div>

    <div class="clear"></div>
    <b class="line"></b>

    <!-- 主体内容 -->
    <div class="search">
        <div class="search-list">
            <div class="nav-table">
                <div class="long-title"><span class="all-goods">全部分类</span></div>
                <div class="nav-cont">
                    <ul>
                        <li class="index"><a href="#">首页</a></li>
                    </ul>
                </div>
            </div>

            <div class="am-g am-g-fixed" style="margin-top:10px; ">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="theme-popover">
                        <div class="clear"></div>
                    </div>
                    <!-- 搜索结果展示 -->
                    <div class="theme-popover">
                        <ul class="select">
                            <p class="title font-normal">
                                <span class="fl">【{{searchInfo.key}}】</span>
                                <span class="total fl">
                                    搜索到：<strong style="color: red;font-weight: bold;" class="num">
                                    {{this.pageInfo.total}}</strong>&nbsp;件相关商品
                                </span>
                            </p>
                            <div class="clear"></div>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!-- 搜索内容 -->
                    <div class="search-content" style="width: 100%">
                        <div class="sort">
                            <li :class="{first:searchInfo.sortBy === 'default'}">
                                <a @click="goodsSort('default')" title="综合">综合排序</a>
                            </li>
                            <li :class="{first:searchInfo.sortBy === 'salesVolume'}">
                                <a @click="goodsSort('salesVolume')"
                                   title="销量">销量排序&nbsp;{{getSortFlag('salesVolume')}}</a>
                            </li>
                            <li :class="{first:searchInfo.sortBy === 'price'}">
                                <a @click="goodsSort('price')" title="价格">价格优先&nbsp;{{getSortFlag('price')}}</a>
                            </li>
                            <li :class="{first:searchInfo.sortBy === 'evaluationScores'}" class="big">
                                <a @click="goodsSort('evaluationScores')" title="评价">评价为主&nbsp;{{getSortFlag('evaluationScores')}}</a>
                            </li>
                        </div>
                        <div class="clear"></div>
                        <!-- 商品展示 -->
                        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                            <!-- 循环渲染商品 -->
                            <li v-for="goods in goodsList" :key="goods.id">
                                <div class="i-pic limit">
                                    <!-- 商品图片 -->
                                    <img :src="getImages(goods.images)"/>
                                    <!-- 商品副标题 -->
                                    <p class="title fl">
                                        【GreenMall】{{goods.subTitle.length > 20 ? goods.subTitle.substring(0,20) +
                                        '...': goods.subTitle}}</p>
                                    <!-- 商品评分 -->
                                    <p class="fl">
                                        <b>【评分】</b>
                                        <strong style="color: red">{{goods.evaluationScores}}</strong>
                                    </p>
                                    <!-- 商品价格 -->
                                    <p class="price fl">
                                        <b>¥</b>
                                        <strong>{{goods.price}}</strong>
                                    </p>
                                    <!-- 商品销量 -->
                                    <p class="number fl">
                                        销量：<span>{{goods.salesVolume}}</span>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                    <!--分页 -->
                    <ul class="am-pagination am-pagination-right">
                        <!-- 上一页 -->
                        <li :class="{'am-disabled': pageInfo.page <= 1}">
                            <a @click="prePage">&laquo;</a>
                        </li>
                        <li style="cursor: pointer" :class="{'am-active': getCorrectPage(i) == pageInfo.page}"
                            v-for="i in Math.min(5,pageInfo.totalPage)" :key="i">
                            <a @click="skipPage(getCorrectPage(i))">
                                {{getCorrectPage(i)}}
                            </a>
                        </li>
                        <!-- 下一页 -->
                        <li :class="{'am-disabled': pageInfo.page >= pageInfo.totalPage}">
                            <a @click="nextPage">&raquo;</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="footer">
                <div class="footer-hd">
                    <p>
                        <a href="#">恒望科技</a>
                        <b>|</b>
                        <a href="#">商城首页</a>
                        <b>|</b>
                        <a href="#">支付宝</a>
                        <b>|</b>
                        <a href="#">物流</a>
                    </p>
                </div>
                <div class="footer-bd">
                    <p>
                        <a href="#">关于恒望</a>
                        <a href="#">合作伙伴</a>
                        <a href="#">联系我们</a>
                        <a href="#">网站地图</a>
                        <em>© 2015-2025 Hengwang.com 版权所有</em>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!--引导 -->
    <div class="navCir">
        <li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
        <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
        <li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
        <li><a href="person/index.html"><i class="am-icon-user"></i>我的</a></li>
    </div>

    <!--菜单 -->
    <div class=tip>
        <div id="sidebar">
            <div id="wrap">
                <div id="prof" class="item">
                    <a href="#">
                        <span class="setting"></span>
                    </a>
                    <div class="ibar_login_box status_login">
                        <div class="avatar_box">
                            <p class="avatar_imgbox"><img src="images/no-img_mid_.jpg"/></p>
                            <ul class="user_info">
                                <li>用户名：sl1903</li>
                                <li>级&nbsp;别：普通会员</li>
                            </ul>
                        </div>
                        <div class="login_btnbox">
                            <a href="#" class="login_order">我的订单</a>
                            <a href="#" class="login_favorite">我的收藏</a>
                        </div>
                        <i class="icon_arrow_white"></i>
                    </div>

                </div>
                <div id="shopCart" class="item">
                    <a href="#">
                        <span class="message"></span>
                    </a>
                    <p>
                        购物车
                    </p>
                    <p class="cart_num">0</p>
                </div>
                <div id="asset" class="item">
                    <a href="#">
                        <span class="view"></span>
                    </a>
                    <div class="mp_tooltip">
                        我的资产
                        <i class="icon_arrow_right_black"></i>
                    </div>
                </div>

                <div id="foot" class="item">
                    <a href="#">
                        <span class="zuji"></span>
                    </a>
                    <div class="mp_tooltip">
                        我的足迹
                        <i class="icon_arrow_right_black"></i>
                    </div>
                </div>

                <div id="brand" class="item">
                    <a href="#">
                        <span class="wdsc"><img src="images/wdsc.png"/></span>
                    </a>
                    <div class="mp_tooltip">
                        我的收藏
                        <i class="icon_arrow_right_black"></i>
                    </div>
                </div>

                <div id="broadcast" class="item">
                    <a href="#">
                        <span class="chongzhi"><img src="images/chongzhi.png"/></span>
                    </a>
                    <div class="mp_tooltip">
                        我要充值
                        <i class="icon_arrow_right_black"></i>
                    </div>
                </div>

                <div class="quick_toggle">
                    <li class="qtitem">
                        <a href="#"><span class="kfzx"></span></a>
                        <div class="mp_tooltip">客服中心<i class="icon_arrow_right_black"></i></div>
                    </li>
                    <!--二维码 -->
                    <li class="qtitem">
                        <a href="#none"><span class="mpbtn_qrcode"></span></a>
                        <div class="mp_qrcode" style="display:none;"><img src="images/weixin_code_145.png"/><i
                                class="icon_arrow_white"></i></div>
                    </li>
                    <li class="qtitem">
                        <a href="#top" class="return_top"><span class="top"></span></a>
                    </li>
                </div>

                <!--回到顶部 -->
                <div id="quick_links_pop" class="quick_links_pop hide"></div>

            </div>

        </div>
        <div id="prof-content" class="nav-content">
            <div class="nav-con-close">
                <i class="am-icon-angle-right am-icon-fw"></i>
            </div>
            <div>
                我
            </div>
        </div>
        <div id="shopCart-content" class="nav-content">
            <div class="nav-con-close">
                <i class="am-icon-angle-right am-icon-fw"></i>
            </div>
            <div>
                购物车
            </div>
        </div>
        <div id="asset-content" class="nav-content">
            <div class="nav-con-close">
                <i class="am-icon-angle-right am-icon-fw"></i>
            </div>
            <div>
                资产
            </div>

            <div class="ia-head-list">
                <a href="#" target="_blank" class="pl">
                    <div class="num">0</div>
                    <div class="text">优惠券</div>
                </a>
                <a href="#" target="_blank" class="pl">
                    <div class="num">0</div>
                    <div class="text">红包</div>
                </a>
                <a href="#" target="_blank" class="pl money">
                    <div class="num">￥0</div>
                    <div class="text">余额</div>
                </a>
            </div>

        </div>
        <div id="foot-content" class="nav-content">
            <div class="nav-con-close">
                <i class="am-icon-angle-right am-icon-fw"></i>
            </div>
            <div>
                足迹
            </div>
        </div>
        <div id="brand-content" class="nav-content">
            <div class="nav-con-close">
                <i class="am-icon-angle-right am-icon-fw"></i>
            </div>
            <div>
                收藏
            </div>
        </div>
        <div id="broadcast-content" class="nav-content">
            <div class="nav-con-close">
                <i class="am-icon-angle-right am-icon-fw"></i>
            </div>
            <div>
                充值
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#searchApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            searchInfo: {
                key: "", // 搜索页面的关键字
                page: 1, // 当前页
                sortBy: "default",
                isAsc: true
            },
            goodsList: [], // 保存搜索结果
            pageInfo: {
                page: 1,// 当前页码
                totalPage: 0, // 总页面数
                total: 0 // 数据总条数
            }
        }, created() {
            // 判断是否有请求参数
            if (!location.search) {
                return;
            }
            // 初始化请求参数
            this.initSearchData(gm.parse(location.search.substring(1)));

            // 加载数据
            this.loadData();
        },
        components: {
            gmTop: () => import("http://www.greenmall.com/js/pages/top.js")
        },
        watch: {
            searchInfo: {
                deep: true,
                handler(val, old) {
                    console.log("监听搜索信息变化...");
                    // val 当前 search 对象，old 上一个 search 对象
                    if (!old || !old.key) {
                        console.log("监听搜索信息变化!!!")
                        return;
                    }
                    // 把search对象变成请求参数拼接到请求路径之后
                    window.location.href = "http://www.greenmall.com/search.html?" + gm.stringify(val);
                }
            }
        },
        computed: {},
        methods: {
            /* 分页数据加载 */
            loadData() {
                // 发送请求加载数据
                gm.http.post("/search/page", this.searchInfo).then(({data}) => {
                    // 1，初始化 goodsLists
                    this.goodsList = data.items;
                    // 2，初始化分页信息
                    this.initPageInfo(data.total, data.totalPage);
                });
            },
            /* 从url获取请求信息，并用此初始化searchInfo */
            initSearchData(search) {
                // 1,初始化搜索关键字
                search.key = search.key ? search.key : "";
                // 2,初始化搜索页
                search.page = search.page ? parseInt(search.page) : 1;
                // 3,初始化排序字段
                search.sortBy = search.sortBy ? search.sortBy : "default";
                // 4,初始化升序，降序
                search.isAsc = search.isAsc === "true" || false;
                this.searchInfo = search;
                console.log("搜索信息：" + JSON.stringify(this.searchInfo));
            },
            /* 商品图片展示 */
            getImages(images) {
                if (images != null && images.trim().length > 0) {
                    return images.split(",")[0];
                } else {
                    return "";
                }
            },
            /* 初始化分页信息 */
            initPageInfo(total, totalPage) {
                // 1，初始化数据总条数
                if (total) {
                    this.pageInfo.total = total;
                }
                // 2，初始化页面总数
                if (totalPage) {
                    this.pageInfo.totalPage = totalPage;
                }
                // 3，初始化当前页码
                if (this.searchInfo.page) {
                    this.pageInfo.page = this.searchInfo.page;
                }
                // console.log("当前分页信息：" + JSON.stringify(this.pageInfo));
            },
            /* 初始化页码 */
            getCorrectPage(index) {
                var totalPage = this.pageInfo.totalPage;
                var page = this.pageInfo.page;
                if (totalPage <= 5 || page < 3) {
                    return index;
                }
                if (page > totalPage - 2) {
                    return index + (totalPage - 5);
                }
                return (page - 3) + index;
            },
            /* 下一页 */
            nextPage() {
                if (this.searchInfo.page < this.pageInfo.totalPage) {
                    this.searchInfo.page++;
                }
            },
            /* 上一页 */
            prePage() {
                if (this.searchInfo.page > 1) {
                    this.searchInfo.page--;
                }
            },
            /* 跳转页面 */
            skipPage(page) {
                console.log("skipPage:" + page)
                this.searchInfo.page = page;
            },
            /* 商品排序 */
            goodsSort(field) {
                if (this.searchInfo.sortBy == field) {
                    this.searchInfo.isAsc = !(this.searchInfo.isAsc);
                } else {
                    this.searchInfo.sortBy = field;
                    this.searchInfo.isAsc = true;
                }
                // console.log(gm.stringify({"flag": false})); 输出为空
                console.log("排序：sortBy" + this.searchInfo.sortBy + "，isAsc:" + this.searchInfo.isAsc)
            },
            /* 排序标识 */
            getSortFlag(field) {
                console.log("获取排序标识：" + field + "当前search" + JSON.stringify(this.searchInfo));
                if (field == this.searchInfo.sortBy) {
                    if (this.searchInfo.isAsc == true) {
                        return "↑"
                    } else {
                        return "↓"
                    }
                } else {
                    return "";
                }
            }
        }
    });
</script>

<div class="theme-popover-mask"></div>

</body>

</html>