<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>支付密码</title>

    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="css/personal.css" rel="stylesheet" type="text/css">
    <link href="css/stepstyle.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/validate.js"></script>
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/vue/vuetify.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>
    <!-- 引入layui -->
    <script src="http://www.greenmall.com/layui/layui.js"></script>
    <link href="http://www.greenmall.com/layui/css/layui.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .gmErrorInfo {
            color: red;
            font-size: 12px;
            /*margin-left: 10px;*/
        }
    </style>
</head>

<body style="background-color: white">
<div id="setPayApp">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">支付密码</strong> / <small>Set&nbsp;Pay&nbsp;Password</small>
        </div>
    </div>
    <hr/>
    <!--进度条-->
    <div class="m-progress">

    </div>
    <form class="am-form am-form-horizontal">
        <div class="am-form-group bind">
            <label for="user-phone" class="am-form-label">验证手机</label>
            <div class="am-form-content">
                <span id="user-phone">{{curUser.phone}}</span>
            </div>
        </div>
        <div class="am-form-group code">
            <label for="user-code" class="am-form-label">验证码</label>
            <div class="am-form-content">
                <!-- 验证码输入框 -->
                <input type="text" id="user-code" placeholder="短信验证码"
                       name="code"
                       v-model="curUser.code"
                       v-validate="'required'"
                       data-vv-as="验证码">
                <!-- 错误提示 -->
                <span class="gmErrorInfo">{{ errors.first('code') }}</span>
            </div>
            <!-- 验证码发送按钮 -->
            <a class="btn" @click="createVerifyCode" id="sendMobileCode">
                <div class="am-btn am-btn-danger">验证码</div>
            </a>
            <br>

        </div>
        <div class="am-form-group">
            <label for="user-password" class="am-form-label">支付密码</label>
            <div class="am-form-content">
                <!-- 支付密码 -->
                <input type="password" id="user-password" placeholder="6位数字"
                       name="payPassword"
                       v-model="curUser.payPassword"
                       v-validate="'required|min:6|max:6'"
                       data-vv-as="支付密码">
                <!-- 错误提示 -->
                <span class="gmErrorInfo">{{ errors.first('payPassword') }}</span>

            </div>
        </div>
        <div class="am-form-group">
            <label for="user-confirm-password" class="am-form-label">确认密码</label>
            <div class="am-form-content">
                <!-- 确认支付密码 -->
                <input type="password" id="user-password" placeholder="6位数字"
                       name="payPasswordConfirm"
                       v-model="curUser.payPasswordConfirm"
                       v-validate="{required:true,confirm:curUser.payPassword}"
                       data-vv-as="确认支付密码">
                <!-- 错误提示 -->
                <span class="gmErrorInfo">{{ errors.first('payPasswordConfirm') }}</span>
            </div>
        </div>
        <div class="info-btn">
            <div @click="setPayPassword" class="am-btn am-btn-danger">保存修改</div>
        </div>

    </form>

</div>

</body>

<script>

    /* 数据验证 */
    Vue.use(VeeValidate, {
        events: 'blur',
        dictionary: {
            zh: {
                messages: {
                    required: (field) => field + '不能为空！',
                    min: (field, args) => field + '长度不能小于' + args[0],
                    max: (field, args) => field + '长度不能大于' + args[0],
                    alpha_dash: (field) => field + '只能包含数字、字母或下划线',
                    regex: (field) => field + "格式不正确",
                    is: () => "两次密码不一致"
                }
            }
        },
        locale: 'zh'
    });

    var vm = new Vue({
        el: "#setPayApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            curUser: {
                id: -1,
                phone: "",
                payPassword: "",
                payPasswordConfirm: "",
                code: ""
            }
        },
        created() {
            // 1，登录验证
            this.loadUserData();
            /* 密码相同验证 */
            this.$validator.extend('confirm', {
                getMessage() {
                    return "两次密码不一致"
                },
                validate(val, args) {
                    return val === args[0]
                }
            })
        }
        ,
        watch: {}
        ,
        computed: {}
        ,
        methods: {
            /* 加载用户信息 */
            loadUserData() {
                var isLogin = 0;
                // 1，登录验证
                gm.verifyUser().then(() => {
                    isLogin = 1;
                    // 2，加载用户信息数据
                    gm.http.get("/user/auth/queryUser/")
                        .then(resp => {
                            var data = resp.data;
                            if (resp.status === 200) {
                                // 初始化 curUser
                                this.curUser.id = data.id;
                                this.curUser.phone = data.phone;
                            } else if (resp.status === 404) {
                                // alert("收藏夹空空如也!")
                            } else {
                                alert("加载用户信息失败!")
                            }
                        })
                        .catch(() => {
                            alert("加载用户信息失败!")
                        })
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("加载用户信息异常...")
                    }
                })
            },
            /* 生成短信验证码 */
            createVerifyCode() {
                if (gm.isStringNotEmpty(this.curUser.phone)) {
                    gm.http.post("/user/auth/payCode", "phone=" + this.curUser.phone);
                }
            },
            /* 设置支付密码 */
            setPayPassword() {
                this.$validator.validateAll().then(d => {
                    if (d) {
                        // 校验通过，提交表单
                        gm.http.post("/user/auth/setPayPassword", gm.stringify(this.curUser))
                            .then(resp => {
                                var data = resp.data;
                                if (resp.status === 200) {
                                    if (data.state == 1) {
                                        alert("设置支付密码成功...");
                                        window.location.href = "http://www.greenmall.com/personalcenter.html?open=fsafety";
                                    } else if (data.state == 2) {
                                        alert("验证码不正确!");
                                    } else {
                                        alert("设置支付密码失败!");
                                    }
                                }
                            })
                            .catch(() => alert("设置支付密码失败！"))
                    }
                })
            }

        }
    })
</script>

</html>