<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>购物车页面</title>

    <link href="http://www.greenmall.com/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/css/cartstyle.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.greenmall.com/css/optstyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.greenmall.com/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <!-- 引入 vue，以及相关工具js -->
    <script src="http://www.greenmall.com/js/vue/vue.js"></script>
    <script src="http://www.greenmall.com/js/axios.min.js"></script>
    <script src="http://www.greenmall.com/js/common.js"></script>
    <script src="http://www.greenmall.com/js/math.js"></script>

</head>

<body>

<div id="shopCartApp">
    <!-- 头部栏位 -->
    <div id="nav-gm">
        <gm-top/>
    </div>

    <div class="clear"></div>

    <!--购物车 -->
    <div class="concent">
        <div id="cartTable">
            <div class="cart-table-th">
                <div class="wp">
                    <div class="th th-chk">
                        <div id="J_SelectAll1" class="select-all J_SelectAll">

                        </div>
                    </div>
                    <div class="th th-item">
                        <div class="td-inner">商品信息</div>
                    </div>
                    <div class="th th-price">
                        <div class="td-inner">单价</div>
                    </div>
                    <div class="th th-amount">
                        <div class="td-inner">数量</div>
                    </div>
                    <div class="th th-sum">
                        <div class="td-inner">金额</div>
                    </div>
                    <div class="th th-op">
                        <div class="td-inner">操作</div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- 购物车展示区域 -->
            <tr class="item-list">
                <div class="bundle  bundle-last ">
                    <div class="clear"></div>
                    <!-- 单条购物车数据展示 -->
                    <div v-if="shopCartList !== null && shopCartList !== undefined && shopCartList.length > 0">
                        <!-- 遍历展示商品 -->
                        <div v-for="(cart,index) in shopCartList" :key="index+'available'" class="bundle-main">
                            <ul v-if="cart.available === true" class="item-content clearfix">
                                <li class="td td-chk">
                                    <div class="cart-checkbox ">
                                        <input class="check"
                                               :value="cart.goodsId" v-model="checkVal" type="checkbox">
                                        <label for="J_CheckBox_170037950254"></label>
                                    </div>
                                </li>
                                <li class="td td-item">
                                    <div class="item-pic">
                                        <a href="#" target="_blank" data-title=""
                                           class="J_MakePoint" data-point="tbcart.8.12">
                                            <!-- 商品图片 -->
                                            <img width="80" height="80" :src="cart.goodsImage"
                                                 class="itempic J_ItemImg"></a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-basic-info">
                                            <a :href="'http://www.greenmall.com/goods/introduction/'+cart.goodsId+'.html'"
                                               target="_blank" :title="cart.goodsSubTitle"
                                               class="item-title J_MakePoint" data-point="tbcart.8.11">
                                                <!-- 商品名称 -->
                                                {{cart.goodsTitle}}
                                            </a>
                                            <br>
                                            <a style="font-size: 13px;color: grey" href="javascript:void(0)">【库存：{{cart.stock}}】</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-info">
                                    <div class="item-props">

                                    </div>
                                </li>
                                <li class="td td-price">
                                    <div class="item-price price-promo-promo">
                                        <div class="price-content">
                                            <div class="price-line" style="padding-top:10px; ">
                                                <!-- 商品单价 -->
                                                <em class="J_Price price-now" tabindex="0">{{cart.price}}</em>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-amount">
                                    <div class="amount-wrapper ">
                                        <div class="item-amount ">
                                            <div class="sl">
                                                <!-- 减少商品数量 -->
                                                <input @click="reduceNum(cart.goodsId)" class="min am-btn" name=""
                                                       type="button" value="-"/>
                                                <!-- 商品数量 -->
                                                <input disabled="disabled" class="text_box" name="" type="text"
                                                       :value="cart.num"
                                                       style="width:30px;"/>
                                                <!-- 增加商品数量 -->
                                                <input @click="addNum(cart.goodsId)" class="add am-btn" name=""
                                                       type="button" value="+"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-sum">
                                    <div class="td-inner">
                                        <!-- 商品总价 -->
                                        <em tabindex="0" class="J_ItemSum number">{{calPrice(cart.price,cart.num)}}</em>
                                    </div>
                                </li>
                                <li class="td td-op">
                                    <div class="td-inner">
                                        <a @click="toCollect(cart.goodsId)" title="移入收藏夹" class="btn-fav">
                                            移入收藏夹</a>
                                        <a @click="deleteShopCart(cart.goodsId)" href="javascript:void(0);"
                                           class="delete">
                                            删除</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 遍历展示 unAvailable 商品 -->
                        <div v-for="(cart,index1) in shopCartList" :key="index1+'unAvailable'" class="bundle-main">
                            <ul style="background-color: gainsboro;" v-if="cart.available === false"
                                class="item-content clearfix">
                                <li class="td td-chk">
                                    <div class="cart-checkbox ">
                                        <input disabled="disabled" class="check" id="J_CheckBox_170037950254"
                                               name="items[]"
                                               value="170037950254"
                                               type="checkbox">
                                        <label for="J_CheckBox_170037950254"></label>
                                    </div>
                                </li>
                                <li class="td td-item">
                                    <div class="item-pic">
                                        <a href="#" target="_blank" data-title=""
                                           class="J_MakePoint" data-point="tbcart.8.12">
                                            <!-- 商品图片 -->
                                            <img width="80" height="80" :src="cart.goodsImage"
                                                 class="itempic J_ItemImg"></a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-basic-info">
                                            <a href="javascript:void(0)"
                                               target="_blank" title="美康粉黛醉美唇膏 持久保湿滋润防水不掉色"
                                               class="item-title J_MakePoint" data-point="tbcart.8.11">
                                                <!-- 商品名称 -->
                                                {{cart.goodsTitle}}
                                            </a>
                                            <br/>
                                            <span style="color: red">
                                                （失效商品）
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-info">
                                    <div class="item-props">

                                    </div>
                                </li>
                                <li class="td td-price">
                                    <div class="item-price price-promo-promo">
                                        <div class="price-content">
                                            <div class="price-line" style="padding-top:10px; ">
                                                <!-- 商品单价 -->
                                                <em class="J_Price price-now" tabindex="0">{{gm.formatPrice(cart.price*100)}}</em>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-amount">
                                    <div class="amount-wrapper ">
                                        <div class="item-amount ">
                                            <div class="sl">
                                                <!-- 减少商品数量 -->
                                                <!-- 商品数量 -->
                                                <input disabled="disabled" class="text_box" name="" type="text"
                                                       :value="cart.num"
                                                       style="width:30px;"/>
                                                <!-- 增加商品数量 -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-sum">
                                    <div class="td-inner">
                                        <!-- 商品总价 -->
                                        <em tabindex="0" class="J_ItemSum number">{{gm.formatPrice(cart.num*cart.price*100)}}</em>
                                    </div>
                                </li>
                                <li class="td td-op">
                                    <div class="td-inner">
                                        <a @click="deleteShopCart(cart.goodsId)" href="javascript:void(0);"
                                           data-point-url="#" class="delete">
                                            删除</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 单条购物车数据展示 -->
                    <div v-else class="bundle-main">
                        <ul class="item-content clearfix">
                            <li style="text-align: center;line-height: 90px;">您的购物车里什么都没有 ￣□￣｜｜ ...</li>
                        </ul>
                    </div>
                </div>
            </tr>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="float-bar-wrapper">
            <div id="J_SelectAll2" class="select-all J_SelectAll">
                <div class="cart-checkbox">
                    <input @click="selectAll" class="check-all check" id="J_SelectAllCbx2" name="select-all"
                           value="true" v-model="isAllSelect" type="checkbox">
                    <label for="J_SelectAllCbx2"></label>
                </div>
                <span>全选</span>
            </div>
            <div class="operations">
                <a @click="deleteAll" hidefocus="true" class="deleteAll">删除</a>
                <a @click="allToCollect" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
            </div>
            <div class="float-bar-right">
                <div class="amount-sum">
                    <span class="txt">已选商品</span>
                    <em id="J_SelectedItemsCount">{{selectCount}}</em><span class="txt">件</span>
                    <div class="arrow-box">
                        <span class="selected-items-arrow"></span>
                        <span class="arrow"></span>
                    </div>
                </div>
                <div class="price-sum">
                    <span class="txt">合计:</span>
                    <strong class="price">¥<em id="J_Total">{{totalPrice}}</em></strong>
                </div>
                <div class="btn-area">
                    <a @click="payForGoods" id="J_Go" class="submit-btn submit-btn-disabled">
                        <span>结&nbsp;算</span></a>
                </div>
            </div>

        </div>
        <!-- 页脚 -->
        <gm-footer></gm-footer>

    </div>

    <!--操作页面-->
    <div class="theme-popover-mask"></div>

</div>
</body>
<script>
    var vm = new Vue({
        el: "#shopCartApp",
        data: {
            gm, // 必须引用到实例中，在html标签中才能使用
            shopCartList: null,
            checkVal: [],
            math, /* 精度计算对象 */
            isAllSelect: false,
        }, created() {
            // 1，根据登录用户加载购物车数据
            this.loadShopCartData();
        },
        components: {
            gmTop: () => import("http://www.greenmall.com/js/pages/top.js"),
            gmFooter: () => import("http://www.greenmall.com/js/pages/footer.js"),
        },
        watch: {
            checkVal: {
                handler(val, old) {
                    if (val.length == this.getAvailableNum()) {
                        this.isAllSelect = true;
                    } else {
                        this.isAllSelect = false;
                    }
                }
            }
        },
        computed: {
            /* 商品选中件数 */
            selectCount() {
                return this.checkVal.length;
            },
            /* 商品总金额 */
            totalPrice() {
                var totalPrice = 0;
                if (this.checkVal != null && this.checkVal.length > 0) {
                    this.checkVal.forEach(goodsId => {
                        var cartItem = this.getCartItem(goodsId);
                        if (undefined != cartItem && cartItem != null) {
                            totalPrice += Math.floor(parseFloat(cartItem.price * 100 * cartItem.num)) / 100;
                        }
                    })
                }

                return totalPrice.toFixed(2);
            }
        },
        methods: {
            /*解决计算精度问题*/
            calPrice(unitPrice, num) {
                var temp = Math.floor(parseFloat(unitPrice * 100 * num)) / 100;
                return temp.toFixed(2);
                // return math.format(unitPrice * num, 14);
            },
            /* 加载购物车数据 */
            loadShopCartData() {
                var isLogin = 0;
                gm.verifyUser().then(() => {
                    isLogin = 1;
                    gm.http.get("/shopCart/queryCart").then(resp => {
                        if (resp.status === 200) {
                            this.shopCartList = resp.data;
                            // 为对象数组扩充属性
                            this.addAttr();
                        } else {
                            this.shopCartList = null;
                        }
                    }).catch(() => {
                        // alert("加载购物车异常...");
                    })
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                        window.top.location.href = "http://www.greenmall.com/login.html";
                    } else {
                        alert("加载购物车异常...")
                    }
                })
            },
            /* 增加数量 */
            addNum(goodsId) {
                // 获取数量
                var cartItem = this.getCartItem(goodsId);
                if (cartItem.num < cartItem.stock) {
                    cartItem.num++;
                    this.addShopCart(cartItem);
                }
            },
            /* 减少数量 */
            reduceNum(goodsId) {
                // 获取数量
                var cartItem = this.getCartItem(goodsId);
                if (cartItem.num > 1) {
                    cartItem.num--;
                    this.addShopCart(cartItem);
                }
            },
            /* 根据商品id获取单调购物车信息 */
            getCartItem(goodsId) {
                var item = this.shopCartList.filter(function (item) {
                    return item.goodsId == goodsId;
                })
                return item[0];
            },
            /* 截取当前数据到小数点后两位 */
            numFilter(value) {
                const realVal = parseFloat(value).toFixed(2);
                return realVal;
            },
            /* 加入购物车 */
            addShopCart(cartItem) {
                var isLogin = 0;
                gm.verifyUser().then(() => {
                    isLogin = 1;
                    // 拼接购物车数据
                    var shopCart = {
                        "goodsId": cartItem.goodsId,
                        "num": cartItem.num
                    }
                    // 加入购物车
                    gm.http.post("/shopCart/update", shopCart).then(resp => {
                        var message = resp.data;
                        /* 添加成功 */
                        if (message.state == 1) {
                            alert("加入购物车成功。");
                        } else if (message.state == 3) {
                            alert("商品库存不足！")
                            cartItem.stock = parseInt(message.info);
                            cartItem.num = cartItem.stock;
                        } else if (message.state == 2 || message.state == 4) {
                            alert(message.info + ",将为您刷新购物车数据...");
                            window.location.href = "http://www.greenmall.com/shopcart.html";
                        } else {
                            alert("未知错误...");
                        }
                    }).catch(() => {
                        alert("加入购物车异常...")
                    });
                }).catch(() => {
                    if (isLogin === 0) {
                        alert("您还没有登录，请登录之后做相关操作。")
                    } else {
                        alert("加入购物车异常...")
                    }
                })
            },
            /* 扩充属性:用于标记商品是否选中 */
            addAttr() {
                this.shopCartList.forEach(item => {
                    item.isChecked = false;
                })
            },
            /* 获取有效商品的个数 */
            getAvailableNum() {
                var item = this.shopCartList.filter(function (item) {
                    return item.available == true;
                })
                return item.length;
            },
            /* 选中所有 */
            selectAll() {
                if (this.shopCartList == null || this.shopCartList.length == 0) {
                    return;
                }
                var availableNum = this.getAvailableNum();
                if (this.checkVal.length == 0 || this.checkVal.length < availableNum) {
                    if (this.shopCartList != null && this.shopCartList.length > 0) {
                        this.shopCartList.forEach(cartItem => {

                            if (cartItem.available == true) {
                                this.checkVal.push(cartItem.goodsId);
                            }
                        })
                    }
                } else {
                    this.checkVal = [];
                }
            },
            /* 删除购物车 */
            deleteShopCart(goodsId) {
                gm.http.get("/shopCart/delete/" + goodsId)
                    .then(resp => {
                        if (resp.status === 200) {
                            var message = resp.data;
                            if (message.state == 1) {
                                alert("删除购物车成功!")
                                /* 删除选中数组中的数据 */
                                this.memoryDeleteCheckVal(goodsId);
                                /* 删除渲染列表中的数据 */
                                this.memoryDeleteShopCart(goodsId);
                            } else {
                                alert(message.info);
                            }
                        }
                    })
                    .catch(() => {
                        alert("删除购物车失败!")
                    })
            },
            /* 从选中数组中删除数据 */
            memoryDeleteCheckVal(goodsId) {
                this.checkVal.splice(this.checkVal.indexOf(goodsId), 1)
            },
            /* 删除内存中的购物车数据 */
            memoryDeleteShopCart(goodsId) {
                // 刪除vue对象中的数据
                this.shopCartList.splice(this.shopCartList.indexOf(this.shopCartList.find(cartItem => {
                    return cartItem.goodsId == goodsId;
                })), 1);
            },
            /* 删除所有 */
            deleteAll() {
                if (this.checkVal.length <= 0) {
                    alert("您未选中任何商品，无法删除。");
                } else {
                    this.gm.http.post("/shopCart/deleteBatch", this.checkVal).then(resp => {
                        if (resp.status === 200) {
                            var message = resp.data;
                            if (message.state == 1) {
                                alert("删除购物车成功!")
                                this.checkVal.forEach(goodsId => {
                                    this.memoryDeleteShopCart(goodsId);
                                })
                                this.checkVal = [];
                            } else {
                                alert(message.info);
                            }
                        }
                    }).catch(() => {
                        alert("删除多条购物车数据异常。")
                    });
                }
            },
            /* 移入收藏夹 */
            toCollect(goodsId) {
                gm.http.get("/collect/add/" + goodsId)
                    .then(resp => {
                        if (resp.status === 200) {
                            var message = resp.data;
                            if (message.state == 1) {
                                alert("移入收藏夹成功!")
                                this.memoryDeleteShopCart(goodsId);
                                this.memoryDeleteCheckVal(goodsId);
                            } else {
                                alert(message.info);
                            }
                        }
                    })
                    .catch(() => {
                        alert("移入收藏夹失败!")
                    })
            },
            /* 选中的移入收藏夹 */
            allToCollect() {
                if (this.checkVal.length <= 0) {
                    alert("您未选中任何商品，无法移入收藏夹。");
                } else {
                    this.gm.http.post("/collect/addBatch", this.checkVal).then(resp => {
                        if (resp.status === 200) {
                            var message = resp.data;
                            if (message.state == 1) {
                                alert("移入收藏夹成功!")
                                this.checkVal.forEach(goodsId => {
                                    this.memoryDeleteShopCart(goodsId);
                                })
                                this.checkVal = [];
                            } else {
                                alert(message.info);
                            }
                        }
                    }).catch(() => {
                        alert("将多条数据移入收藏夹异常。")
                    });
                }
            },
            /* 结算 */
            payForGoods() {
                if (gm.isCollectionNotEmpty(this.checkVal) == false) {
                    alert("您没有选中任何商品无法进行结算!");
                } else {
                    // 0，清空原有数据
                    gm.store.set("payData", {});
                    // 1，将数据存储到本地浏览器
                    var payData = {payDate: new Date().getTime(), goodsData: []};
                    this.checkVal.forEach(goodsId => {
                        payData.goodsData.push(this.getCartItem(goodsId));
                    })
                    // localStorage
                    gm.store.set("payData", payData);
                    // 2，跳转到结算页面
                    window.location.href = "http://www.greenmall.com/pay.html";
                }
            }
        }
    });
</script>
</html>